<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
			
			<link href="http://3rin.gs/tengwar/packages/tengwar@0a896ef/tengwar-parmaite.css" rel="stylesheet" type="text/css">
		
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		
		<!--script>
		  (adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-4123008793636201",
			enable_page_level_ads: true
		  });
		</script-->
		
		</head>
		<body>
			<nav>
	    		<ul class = "navbar navbar_ul">
					<li class="navbar_li">
						<a class="navbar_button" href="/"> <i class="fa fa-home"></i> Home </a>
					</li>
					
					<li class="navbar_li">
						<div class="dropdown">
							<a class="navbar_button" href="/game_maker"> Game Maker </a>
							<div class="dropdown-content">
								<a href="/game_maker"> Games </a>
								<a href="/game_maker"> Software </a>
								<a href="/game_maker"> Libraries </a>
							</div>
						</div>
					</li>
					
					<li class="navbar_li">
						<div class="dropdown">
							<a class="navbar_button" href="/cpp"> C++ </a>
							<div class="dropdown-content">
								<a href="/cpp"> Games </a>
								<a href="/cpp"> Software </a>
								<a href="/cpp"> Libraries </a>
							</div>
						</div>
					</li>
					
					<li class="navbar_li">
						<a class="navbar_button" href="/construction"> About me </a>
					</li>
					
					<li class="navbar_li">
						<a class="navbar_button" href="/test"> Random tests </a>
					</li>
				</ul>
			</nav>
			<div class="container">
				<div class = "central_body">
					{{ content }}
				</div>
			</div><!-- /.container -->
			<footer>
	    		<div class="footer">
				</div>
	    		<div class="footer">
					<h3>
						<i class="fa fa-windows"></i>
						<i class="fa fa-linux"></i>
						<i class="fa fa-apple"></i>
						Tested in:
						<i class="fa fa-edge"></i>
						<i class="fa fa-internet-explorer"></i>
						<i class="fa fa-chrome"></i>
						<i class="fa fa-firefox"></i>
						<i class="fa fa-opera"></i>
						<i class="fa fa-safari"></i>
					</h3>
				</div>
			</footer>
		</body>
	</html>
